<div class="main-content">
    <div class="container-fluid">
        <p-toast></p-toast>

        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="Buat Role Baru" icon="pi pi-plus" class="p-button-success p-mr-2"
                        (click)="openNew()"></button>
                    <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger"
                        (click)="deleteSelectedRoles()" [disabled]="!selectedRoles || !selectedRoles.length"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt1 [value]="roles" [rows]="10" [paginator]="true" [globalFilterFields]="['role_id','role_name']"
                [(selection)]="selectedRoles" [rowHover]="true" dataKey="role_id"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        <h5 class="p-m-0">Mengelola Role</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                                placeholder="Cari..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="role_id">ID <p-sortIcon field="role_id"></p-sortIcon></th>
                        <th pSortableColumn="role_name">Nama Role <p-sortIcon field="role_name"></p-sortIcon></th>

                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-role>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="role"></p-tableCheckbox>
                        </td>
                        <td>{{role.role_id}}</td>
                        <td>{{role.role_name}}</td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                                (click)="editRole(role)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                (click)="deleteRole(role)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        Secara total ada {{roles ? roles.length : 0 }} role.
                    </div>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="roleDialog" [style]="{width: '450px'}" header="Role Detail" [modal]="true" autoZIndex
            styleClass="p-fluid">
            <ng-template pTemplate="content">

                <div class="p-field">
                    <label for="role_name">Nama</label>
                    <input type="text" pInputText id="role_name" [(ngModel)]="role.role_name" required autofocus
                        autocomplete="false" />
                    <small class="p-invalid" *ngIf="submitted && !role.role_name">Nama diperlukan.</small>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Batal" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Simpan" icon="pi pi-check" class="p-button-text"
                    (click)="saveRole()"></button>
            </ng-template>
        </p-dialog>

        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>