<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-success">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <!-- <span class="nav-tabs-title">Tasks:</span> -->
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#profile"
                                            (click)="getListPenyakit()" data-toggle="tab">
                                            <i class="material-icons">bug_report</i> Penyakit
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#messages" (click)="getListDaerah()"
                                            data-toggle="tab">
                                            <i class="material-icons">code</i> Daerah
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#settings" (click)="getListTahun()"
                                            data-toggle="tab">
                                            <i class="material-icons">cloud</i> Tahun
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="profile">

                                <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                                    <div class="row form-row">
                                        <label class="col-md-3 col-2 col-form-label">Penyakit</label>
                                        <div class="col-md-9 col-9">
                                            <penyakit-ddl formControlName="penyakit" [(ngModel)]="penyakit"
                                                (ngModelChange)="filterAll()">
                                            </penyakit-ddl>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <label class="col-md-3 col-2 col-form-label">Daerah</label>
                                        <div class="col-md-9 col-9">
                                            <daerah-ddl formControlName="daerah" [(ngModel)]="daerah"
                                                (ngModelChange)="filterAll()">
                                            </daerah-ddl>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <label class="col-md-3 col-2 col-form-label">Tahun</label>
                                        <div class="col-md-9 col-9">
                                            <tahun-ddl formControlName="tahun" [(ngModel)]="tahun"
                                                (ngModelChange)="filterAll()">
                                            </tahun-ddl>
                                        </div>
                                    </div>
                                    <!-- <button mat-raised-button type="submit" class="btn btn-success pull-right"
                                        [disabled]="!profileForm.valid" [loading]="loading">Cari</button> -->
                                    <div class="clearfix"></div>
                                </form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button mat-raised-button type="submit" class="btn btn-rose pull-right"
                                            (click)="getListPenyakit()" [loading]="loading">Cari Data</button>
                                    </div>
                                </div>
                                <app-dynamic-table [data]="listPenyakitTemp" [type]="2" [pilihan]="1"
                                    (prosesClustering)="prediksiProcess($event)"
                                    (prosesDiagram)="diagramProcess($event)"></app-dynamic-table>
                            </div>
                            <div class="tab-pane" id="messages">

                                <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                                    <div class="row form-row">
                                        <label class="col-md-3 col-2 col-form-label">Daerah</label>
                                        <div class="col-md-9 col-9">
                                            <daerah-ddl formControlName="daerah" [(ngModel)]="daerah"
                                                (ngModelChange)="filterAll()">
                                            </daerah-ddl>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <label class="col-md-3 col-2 col-form-label">Penyakit</label>
                                        <div class="col-md-9 col-9">
                                            <penyakit-ddl formControlName="penyakit" [(ngModel)]="penyakit"
                                                (ngModelChange)="filterAll()">
                                            </penyakit-ddl>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <label class="col-md-3 col-2 col-form-label">Tahun</label>
                                        <div class="col-md-9 col-9">
                                            <tahun-ddl formControlName="tahun" [(ngModel)]="tahun"
                                                (ngModelChange)="filterAll()">
                                            </tahun-ddl>
                                        </div>
                                    </div>
                                    <!-- <button mat-raised-button type="submit" class="btn btn-success pull-right"
                                        [disabled]="!profileForm.valid" [loading]="loading">Cari</button> -->
                                    <div class="clearfix"></div>
                                </form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button mat-raised-button type="submit" class="btn btn-rose pull-right"
                                            (click)="getListDaerah()" [loading]="loading">Cari Data</button>
                                    </div>
                                </div>
                                <app-dynamic-table [data]="listPenyakitTemp" [type]="2" [pilihan]="2"
                                    (prosesClustering)="prediksiProcess($event)"
                                    (prosesDiagram)="diagramProcess($event)"></app-dynamic-table>
                            </div>
                            <div class="tab-pane" id="settings">
                                <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                                    <div class="row form-row">
                                        <label class="col-md-3 col-2 col-form-label">Tahun</label>
                                        <div class="col-md-9 col-9">
                                            <tahun-ddl formControlName="tahun" [(ngModel)]="tahun"
                                                (ngModelChange)="filterAll()">
                                            </tahun-ddl>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <label class="col-md-3 col-2 col-form-label">Penyakit</label>
                                        <div class="col-md-9 col-9">
                                            <penyakit-ddl formControlName="penyakit" [(ngModel)]="penyakit"
                                                (ngModelChange)="filterAll()">
                                            </penyakit-ddl>
                                        </div>
                                    </div>
                                    <!-- <button mat-raised-button type="submit" class="btn btn-success pull-right"
                                        [disabled]="!profileForm.valid" [loading]="loading">Cari</button> -->
                                    <div class="clearfix"></div>
                                </form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button mat-raised-button type="submit" class="btn btn-rose pull-right"
                                            (click)="getListTahun()" [loading]="loading">Cari Data</button>
                                    </div>
                                </div>
                                <app-dynamic-pie (prosesClustering)="prediksiProcess($event)"
                                    (prosesDiagram)="diagramProcess($event)"></app-dynamic-pie>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>