<div class="card" *ngFor="let header of data;let i = index">
    <div class="card-header card-header-icon card-header-rose">
        <div class="card-icon" (click)="proses(i)" style="cursor: pointer;" pTooltip="Proses Clustering"
            tooltipPosition="top">
            <i class="material-icons">settings_applications</i>
        </div>
        <h4 class="card-title">{{header.penyakit_name}}</h4>
        <!-- <button mat-raised-button class="btn btn-primary" (click)="proses(i)">Proses Clustering</button> -->
    </div>
    <div class="card-body table-responsive">
        <table class="table table-hover">
            <thead class="text-warning">
                <tr>
                    <th>Daerah Name</th>
                    <th *ngFor="let tahun of years">{{ tahun }}</th>
                    <th>Cluster</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of header.list_table">
                    <td>{{ item.daerah_name }}</td>
                    <td *ngFor="let tahun of years">{{ item[tahun] }}</td>
                    <td>{{item.cluster}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>