<div class="card" *ngFor="let header of data;let i = index">
    <div class="card-header card-header-icon card-header-mute">
        <div class="card-icon" (click)="proses(i,header)" style="cursor: pointer;"
            [pTooltip]="type==1?'Proses Clustering':'Proses Prediksi'" tooltipPosition="top">
            <i class="material-icons">settings_applications</i>
        </div>
        <div class="card-container">
            <!-- <span style="color: black;">type = {{type}}, pilihan = {{pilihan}}</span> -->
            <h4 *ngIf="pilihan==1" class="card-title" style="flex: 1;">{{header.penyakit_name}}</h4>
            <h4 *ngIf="pilihan==2" class="card-title" style="flex: 1;">{{header.daerah_name}}</h4>
            <div class="card-button">
                <button mat-raised-button *ngIf="type==1" class="btn btn-rose"
                    (click)="proses(i,header)">Clustering</button>
                <button mat-raised-button *ngIf="type==2" class="btn btn-rose"
                    (click)="proses(i,header)">Prediksi</button>
                <button mat-raised-button *ngIf="type==1" class="btn btn-default" (click)="diagram(i,header)">Lihat
                    Diagram</button>
                <button mat-raised-button *ngIf="type==2" class="btn btn-default" (click)="diagram(i,header)">Lihat
                    Diagram</button>
            </div>
        </div>
    </div>
    <div class="card-body table-responsive">
        <h5 class="card-title" style="flex: 1;" *ngIf="header.iterasi">Jumlah iterasi : {{header.iterasi}}</h5>
        <table class="table table-hover">
            <thead class="text-mute">
                <th *ngIf="pilihan==1">Daerah Nama</th>
                <th *ngIf="pilihan==2">Penyakit Nama</th>
                <th *ngFor="let tahun of years">{{ tahun }}</th>
                <!-- <th>Cluster</th> -->
            </thead>
            <tbody>
                <tr *ngFor="let item of header.list_table"
                    [ngClass]="item.clusterLevel == 'tinggi' ? 'bg-tinggi' : item.clusterLevel == 'rendah' ? 'bg-rendah' : item.clusterLevel == 'sedang' ? 'bg-sedang':''">
                    <td *ngIf="pilihan==1">{{ item.daerah_name }}</td>
                    <td *ngIf="pilihan==2">{{ item.penyakit_name }}</td>
                    <td *ngFor="let tahun of years">{{ item[tahun] }}</td>
                    <!-- <td>{{item.cluster}}</td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>