.bg {
  background: linear-gradient(
    90deg,
    rgba(69, 196, 81, 1) 0%,
    rgba(42, 161, 20, 1) 35%
  );
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
  display: block;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh !important;
  min-height: -webkit-fill-available !important;
}

.card {
  padding: 50px 10px;
}
