<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <p class="card-category">Daerah</p>
                        <h3 class="card-title">{{jumlahDaerah}}
                            <!-- <small>GB</small> -->
                        </h3>
                    </div>
                    <div class="card-footer">
                        <!-- <div class="stats">
                            <i class="material-icons text-danger">warning</i>
                            <a href="javascript:void(0)">Get More Space...</a>
                        </div> -->
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">Penduduk</p>
                        <h3 class="card-title">$34,245</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Last 24 Hours
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">info_outline</i>
                        </div>
                        <p class="card-category">Penyakit</p>
                        <h3 class="card-title">{{jumlahPenyakit}}</h3>
                    </div>
                    <div class="card-footer">
                        <!-- <div class="stats">
                            <i class="material-icons">local_offer</i> Tracked from Github
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-twitter"></i>
                        </div>
                        <p class="card-category">Data</p>
                        <h3 class="card-title">{{jumlahData}}</h3>
                    </div>
                    <div class="card-footer">
                        <!-- <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <p-chart type="line" [data]="basicData" [options]="basicOptions"></p-chart>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Jumlah Penduduk</h4>
                        <!-- <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today
                            sales.
                        </p> -->
                    </div>
                    <!-- <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Penyakit</h4>
                        <p class="card-category">Berikut adalah daftar penyakit</p>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                <tr *ngFor="let item of penyakits;let i = index">
                                    <td>
                                        {{i+1}}
                                    </td>
                                    <td>{{item.penyakit_name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Daerah</h4>
                        <p class="card-category">Berikut adalah daftar kabupaten dan kota di Jawa Timur</p>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                <tr *ngFor="let item of daerahs;let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{item.daerah_name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>