<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">place</i>
                        </div>
                        <p class="card-category">Daerah</p>
                        <h3 class="card-title">{{jumlahDaerah}}
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">ac_unit</i>
                        </div>
                        <p class="card-category">Penyakit</p>
                        <h3 class="card-title">{{jumlahPenyakit}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">table_chart</i>
                        </div>
                        <p class="card-category">Data</p>
                        <h3 class="card-title">{{jumlahData}}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <p-chart type="line" [data]="basicData" [options]="basicOptions"></p-chart>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Jumlah Penduduk</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Penyakit</h4>
                        <p class="card-category">Berikut adalah daftar penyakit</p>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                <tr *ngFor="let item of penyakits;let i = index">
                                    <td>
                                        {{i+1}}
                                    </td>
                                    <td>{{item.penyakit_name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Daerah</h4>
                        <p class="card-category">Berikut adalah daftar kabupaten dan kota di Jawa Timur</p>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                <tr *ngFor="let item of daerahs;let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{item.daerah_name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>