/* You can add global styles to this file, and also import other style files */

.col-form-label {
  padding: 20px 5px 0 0;
  text-align: right;
  margin-bottom: 8px;
  font-size: inherit;
  line-height: 1.5;
}
.form-row {
  margin-bottom: 8px;
}
