/* You can add global styles to this file, and also import other style files */

.col-form-label {
  padding: 20px 5px 0 0;
  text-align: left;
  margin-bottom: 8px;
  font-size: inherit;
  line-height: 1.5;
}
.form-row {
  margin-bottom: 8px;
}
.checkbox-all-text {
  position: relative;
  display: block;
  margin-right: 10px;
}

.bg-tinggi {
  background: #ffcdd2;
}
.bg-sedang {
  background: #fff9c4;
}
.bg-rendah {
  background: #c8e6c9;
}
.card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-button {
  display: flex;
  gap: 10px;
}
.logo-title {
  text-transform: none;
  text-align: left;
}

.sidebar .logo .simple-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar .logo-img {
  width: 35px;
  display: block;
  max-height: 30px;
  margin-left: 13px;
  margin-right: 15px;
}

.sidebar .logo-img img {
  width: 35px;
  position: inherit;
}
