/* You can add global styles to this file, and also import other style files */

.col-form-label {
  padding: 20px 5px 0 0;
  text-align: left;
  margin-bottom: 8px;
  font-size: inherit;
  line-height: 1.5;
}
.form-row {
  margin-bottom: 8px;
}
.checkbox-all-text {
  position: relative;
  display: block;
  margin-right: 10px;
}

.bg-tinggi {
  background: #ffcdd2;
}
.bg-sedang {
  background: #fff9c4;
}
.bg-rendah {
  background: #c8e6c9;
}
.card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-button {
  display: flex;
  gap: 10px;
}
.logo-title {
  text-transform: none;
  text-align: left;
}

.sidebar .logo .simple-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar .logo-img {
  width: 35px;
  display: block;
  max-height: 30px;
  margin-left: 13px;
  margin-right: 15px;
}

.sidebar .logo-img img {
  width: 35px;
  position: inherit;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
